body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(0, 209, 209);
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: 0;
}
.sidebar{
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background: darkcyan;
    user-select: none;
}

.sidebar header {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background:rgb(46, 104, 104);
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgb(78, 87, 87);
    border-bottom: 1px solid black;
    transition: .4s;
    margin-right: 16px;
}

ul li:hover a{
    padding-left: 50px;

}
